<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Inscription</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<div class="container mt-4">
    <!--Inscription-->
    <div class="card mx-auto">
        <div class="card-header text-center">
            <h1>Formulaire d'inscription</h1>
        </div>
        <div class="card-body container">
            <h4 class="mb-4 text-center font-weight-light">Merci de remplir l'ensemble des informations suivantes :</h4>
            <form action='/inscription' method="post" class="text-center">
                <div class="form-group">
                    <div class="input-group mb-3 mx-auto col-8">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Nom :</span>
                        </div>
                        <input name="nom" type="text" class="form-control" value="{{ nom }}">
                    </div>
                    <div class="input-group mb-3 mx-auto col-8">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Mot de passe :</span>
                        </div>
                        <input name="mdp" type="password" class="form-control" value="{{ mdp }}">
                    </div>
                    <div class="input-group mb-3 mx-auto col-8">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Email :</span>
                        </div>
                        <input name="email" type="email" class="form-control" value="{{ email }}">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2 ml-3">Valider</button>
                </div>
            </form>
            <div id="m" class="col-5 text-justify mx-auto ml-3 text-danger">
                {{ msg }}
            </div>
        </div>
    </div>
    <!--End inscription-->
</div>
</body>

</html>